<!doctype html>
<html lang="pt-BR">
<head>
    <title>{{ .title }}</title>

      <meta property="og:type" content="website" />
      <meta property="og:title" content="Validação de E-mails" />
      <meta property="og:description" content="API para validação de emails existentes em servidores SMTP" />
      <meta property="og:image:width" content="600" />
      <meta property="og:image:height" content="392" />
      <meta property="og:locale" content="pt_BR" />
      <meta property="og:image:site_name" content="Api Validação E-mail" />
      <meta property="og:image:alt" content="API Validação E-mail" />
      <meta property="twitter:card" content="summary_large_image" />
      <meta property="twitter:site" content="@moleniuk.com" />
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="theme-color" content="#ffffff">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="description" content="API Validação E-mail" />
      <meta name="keywords" content="API Validação E-mail" />
      <meta name="author" content="API Validação E-mail" />
      <meta name="robots" content="index, follow" />
      <meta name="googlebot" content="index, follow" />
      <meta name="application-name" content="API Validação E-mail" />
      <meta name="apple-mobile-web-app-title" content="API Validação E-mail" />

      <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">

</head>
<body>
    <h1>{{ .title }}</h1>
    <p>{{ .body }}</p>
    <a href={{ .url }}>Clique aqui!</a>
</body>
</html>